header {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 40px 10px;
  align-items: center;
}

.user img {
  width: 50px;
  height: 50px;
}
.logo a {
  font-size: 40px;
  text-decoration: none;
}
.logo a span {
  color: red;
}
.user {
  cursor: pointer;
}
.user-enter {
  width: 300px;
  height: 450px;
  position: absolute;
  background-color: white;
  left: 71%;
  top: 8%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 1px 3px 1px;
  border-radius:  10px 0 10px 10px;
}
.user-inp {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}
.user-inp span {
  margin-bottom: 8px;
}
.user-inp input {
  height: 25px;
  border-radius: 5px;
  border: 1px solid gray;
}
.authori {
    width: 170px;
  padding: 10px 0 10px 70px;
    border-bottom: 1px solid gray;
    font-size: 22px;
    margin-left: 30px;
}
.user-btn {
  width: 200px;
  height: 30px;
  margin: 15px 0 0 60px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
    border-bottom: 1px solid gray;
    font-size: 18px;
}
.user-btn-have{
  cursor: pointer;
  width: 150px;
  height: 30px;
  margin: 10px 0 0 80px;
  border: 1px solid transparent;
  background-color: transparent;
}
.accaunt{
    width: 300px;
    height: 300px;
    position: absolute;
    background-color: white;
    left: 71%;
    top: 8%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 1px 3px 1px;
    border-radius: 10px 0 10px 10px;;
}
.user-btn-accaunt{
    width: 150px;
    height: 30px;
    margin: 15px 0 0 80px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid gray;

}
.authori-accaunt{
    padding: 10px 0 10px 110px;
    font-size: 22px;
    border-bottom: 1px solid gray;
    margin: 0 10px ;
}
.user-btn:active{
  width: 200px;
  height: 30px;
  margin: 15px 0 0 60px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
    border-bottom: 1px solid gray;
    font-size: 20px;
}
.authComplete{
  color: green;
  margin-left: 10px;
}
.auth-error{
  color: red;;
  margin-left: 10px;
}
.user-cooment{
  font-family:'Courier New', Courier, monospace;
  font-size: 14px;
}